{% extends "app/base_site.html" %} {% block title %} Form Wizards {% endblock title %} {% block content %}
<div class="right_col" role="main">
	<div class="">
		<div class="page-title">
			<div class="title_left">
				<h3>환자 접수</h3>
			</div>

			<div class="title_right">
				<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>환자 기본 정보 입력
							<!-- <small>Sessions</small> -->
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<p>환자의 기본 정보를 입력합니다.</p>
						<form class="form-horizontal form-label-left" id="patient_reception_form" action="{% url 'app:patientReceptionPost' %}" method="post">
							{% csrf_token %}
							<div id="wizard" class="form_wizard wizard_horizontal">
								<ul class="wizard_steps">
									<li>
										<a href="#step-1">
											<span class="step_no">1</span>
											<span class="step_descr">
												Step 1
												<br />
												<small>환자 기본 정보 입력</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-2">
											<span class="step_no">2</span>
											<span class="step_descr">
												Step 2
												<br />
												<small>설문지 작성</small>
											</span>
										</a>
									</li>
									<li>
										<a href="#step-3">
											<span class="step_no">3</span>
											<span class="step_descr">
												Step 3
												<br />
												<small>추가 증상 입력</small>
											</span>
										</a>
									</li>
								</ul>

								<div id="step-1">
									{% include "app/patient_basic_information_form.html" %}
								</div>

								<div id="step-2">
									{% include "app/patient_survey_form.html" %}
								</div>

								<div id="step-3">
									<h2 class="StepTitle">Step 3 Content</h2>
									<p>
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
										laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
										deserunt mollit anim id est laborum.
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
										aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
										occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</p>
								</div>
							</div>
						</form>
						<!-- End SmartWizard Content -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super}}
<!-- jQuery Smart Wizard -->
<script src="/static/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script> {% endblock javascripts %}