<form class="form-horizontal form-label-left">
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">ID <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">이름 <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">성별</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default active">
					<input type="radio" name="options" id="option1"> 남성
				</label>
				<label class="btn btn-default">
					<input type="radio" name="options" id="option2"> 여성
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">생년월일 <span class="required">*</span>
		</label>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<!-- <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" data-inputmask="'mask': '99/99/9999'"> -->
			<input type="text" class="form-control has-feedback-left" id="patient_birthday" placeholder="First Name" aria-describedby="inputSuccess2Status4">
			<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" id="patient_age" placeholder="나이">
			<span class="fa fa-question-circle-o form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">신상정보 <span class="required">*</span>
		</label>

		<div class="col-md-3 col-sm-3 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="신장">
			<span class="fa fa-arrows-v form-control-feedback left" aria-hidden="true"></span>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="몸무게">
			<span class="fa fa-arrows-h form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">접수일 <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" class="form-control has-feedback-left" id="patient_receiving_date" placeholder="클릭하여 입력합니다" aria-describedby="inputSuccess2Status4">
			<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">수술 병력 </span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">드시는 약 </span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
		</div>
	</div>
</form>