<form class="form-horizontal form-label-left">
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="patient-id">ID <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="patient-id" name="patient-id" required="required" class="form-control col-md-7 col-xs-12" readonly>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="patient-name">이름 <span class="required">*</span></label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" id="patient-name" name="patient-name" required="required" class="form-control col-md-7 col-xs-12">
		</div>
	</div>
	
	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">성별</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-default active">
					<input type="radio" name="patient-gender" value="M" id="option1"> 남성
				</label>
				<label class="btn btn-default">
					<input type="radio" name="patient-gender" value="W" id="option2" checked="checked"> 여성
				</label>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">생년월일 <span class="required">*</span>
		</label>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<input type="text" class="form-control has-feedback-left" id="patient-birthday" name="patient-birthday" aria-describedby="inputSuccess2Status4">
			<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" id="patient-age" placeholder="나이" readonly>
			<span class="fa fa-question-circle-o form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">신상정보 <span class="required">*</span>
		</label>

		<div class="col-md-3 col-sm-3 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" name="patient-address" placeholder="주소" required="required">
			<span class="fa fa-arrows-v form-control-feedback left" aria-hidden="true"></span>
		</div>

		<div class="col-md-3 col-sm-3 col-xs-12 has-feedback">
			<input type="text" class="form-control has-feedback-left" name="patient-phone-number" placeholder="연락처" required="required">
			<span class="fa fa-arrows-h form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12">접수일 <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<input type="text" class="form-control has-feedback-left" id="patient-receiving-date" readonly>
			<span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
		</div>
	</div>

	<!-- <div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">수술 병력 </span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<textarea form="patient_reception_form" name="patient-surgical-history" class="form-control col-md-7 col-xs-12"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">드시는 약 </span>
		</label>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<textarea form="patient_reception_form" name="patient-medicine-history" class="form-control col-md-7 col-xs-12"></textarea>
		</div>
	</div> -->
</form>