<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>WeedahmBIO</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>환영합니다,</span>
      <h2>정현규님</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>위담한방병원 본점</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> 홈 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home">대쉬보드</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-hospital-o"></i> 환자관리 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'app:patientReception' %}">환자 접수</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> 진단지원 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'app:diagnose' %}">환자 진단</a></li>
            <li><a href=".">병증 탐색</a></li>
            <li><a href=".">약재 탐색</a></li>
            <li><a href=".">처방 탐색</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-desktop"></i> 내 프로필 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="general_elements.html">프로필 보기</a></li>
            <li><a href="media_gallery.html">프로필 수정</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'app:logout' %}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
